.form {
  background: #fff;
  border: 1px solid #d7d7d7;
  border-radius: 5px;
  box-shadow: 0 0 5px -3px #000000a5;
  padding: 0.5rem;
  margin-bottom: 1rem;

  &__fieldset {
    border: none;
    display: flex;
    flex-flow: row wrap;
    align-items: flex-end;
    gap: 0.5rem;
  }

  &__legend {
    font-size: 1.2rem;
    font-weight: 600;
    margin: 0 0 0.5rem;
    padding: 0;
  }

  &__item {
    display: flex;
    flex-flow: column wrap;
  }

  &__label {
    color: hsl(0, 0%, 25%);
    font-size: 0.85rem;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
    margin-bottom: 0.2rem;
  }

  &__input,
  &__select {
    background: #fff;
    border: 2px solid #195881;
    padding: 0.5rem;
  }

  &__select {
    cursor: pointer;
  }
}
